/*styles for Dictionary words*/
.head{
	margin: 0em 0em 1.5em 0em;
	border-bottom: 1px solid #DEDEDE;
	font-family: 'Gubbi';
}

.engHead{
	margin: 0em 0em 1.5em 0em;
	border-bottom: 1px solid #DEDEDE;
	font-family: 'GentiumPlus-R';
}

#title{
	margin: 1em 0em 1em 0em;
	
}
#lang{
	float: right;
	margin-top: 3em;
}
#right{
	float: right;
	margin-right: 3em;
}
p{
	text-align: left;
	line-height: 1.5em;
}
.text{
	margin-left: 15em;
}
.gap{
	margin-left: 3em;
}
ol li{
	padding-bottom: 1em;
}
.lower-alpha{
	list-style-type: lower-alpha;
}
ul li{
	padding-bottom: 1em;
}
.textRight{
	float: right;
	font-weight: bold;
}
.covers{
	width:95%;
	text-align:center;
	margin: 0 auto;
}
.covers a {
	display:inline-block;
	padding:2em 2em;
	height:210px;
}
.covers img {
	height:140px;
}
.covers p {
	padding-top: 0.5em;
	text-align:center;
	font-size:1em;
}
.box-shadow-outset {
	display: inline-block;
}
.box-shadow-outset img{
	border: 7px solid white;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.3);
}
.box-shadow-outset img:hover, .box-shadow-outset img:focus, .box-shadow-outset img:active {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.6);
}
#snippet{
	margin: 30px 0;
    padding: 20px 25px 40px 25px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    line-height: 1.3;
    min-height: 200px;
}
.right{
	float: right;
	margin-right: 3em;
}
@font-face {
 font-family: 'Gubbi';
 src: url('Gubbi.ttf');
}
@font-face {
 font-family: 'GentiumPlus-R';
 src: url('GentiumPlus-R.ttf');
}
.kannada{
	font-family: 'Gubbi';
	font-size: 1.1em;
}
.kannada h3{
	font-size: 1.4em;
}
.kannada #snippet h3{
	font-size: 1.25em;
	color: #950C0C;
}
.english #snippet h3{
	font-size: 1.5em;
	color: #950C0C;
}
.english{
	font-family: 'GentiumPlus-R';
	font-size: 1.13em;
}

.HabbaTitle{
	text-align: center;
	padding-bottom: 5px;
    border-bottom: 1px solid #DEDEDE; 
	margin-bottom: 1em;
	font-size: 1.8em;
	color: #cc6600;
}
.subhead{
	margin: 2em 0em 0 0em;
	text-align: center;
	font-size: 1.5em;
	color: #cc6600;
}
.text{
	margin-left: 15em;
	font-size: 0.9em;
}
.shloka{
	font-size: 0.9em;
	margin-left: 2em;
	color: #262626;
}
/*
.gap{
	float: right;
	padding-right: 30em;
	font-size: 0.9em;
}
*/
.textRight{
	font-size: 0.85em;
	float: right;
	font-weight: bold;
}
.bigfont{
	font-size: 2em
}
/*
ol{
     padding:0;
  counter-reset:item;
}
ol>li {
  margin:0;
  padding:0 0 0.7em 2em;
  text-indent:-1.6em;
  list-style-type:none;
  counter-increment:item;
}
ol>li:before {
  display:inline-block;	
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
*/

.small-gap{
	float: right;
	padding-right: 40em;
}
.smalltext{
	font-size: 0.9em;
}
.result{
	margin: 10px 10px;
    padding: 20px 25px 40px 25px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}


