@font-face {
 font-family: 'GentiumPlus-R';
 src: url('GentiumPlus-R.ttf');
}

body{
  height: 100%;
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2em;
  font-family: 'GentiumPlus-R';

}
.subhead{
	margin: 2em 0em 0 0em;
	text-align: center;
	font-size: 1.5em;
	color: #cc6600;
}
.title
{
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	color: #e68a00;
}
h1{
	font-size: 1.8em;
	font-style: italic;
}
h2{
	font-style: italic;
}
p{
	text-align: justify;
}
.text{
	margin-left: 15em;
}
.shloka{
	font-size: 0.95em;
}
.gap{
	margin-left: 3em;
}
ol li{
	padding-bottom: 1em;
}
ul li{
	padding-bottom: 1em;
}
.textRight{
	float: right;
	font-weight: bold;
}
