/*styles for Dictionary words*/
@font-face {
 font-family: 'Gubbi';
 src: url('Gubbi.ttf');
}
.head{
	margin: 0em 0em 1.5em 0em;
	border-bottom: 1px solid #DEDEDE;
	font-family: 'Gubbi';
}

.engHead{
	margin-bottom: 1.5em;
	border-bottom: 1px solid #DEDEDE;
	font-family: 'GentiumPlus-R';
}

.head #title{
	margin: 1.5em 0em 1em 0em;
	
}
#title{
	margin: 1em 0em 1em 0em;
	
}
#lang{
	float: right;
	margin-top: 2.7em;
	font-size: 1.1em;
}
#lang a:hover{
	border-bottom: 1px dotted #3372df;
}
.kan{
	font-family: 'Gubbi';
	font-size: 1.2em;
	margin: 0em 3em 0em 4em;
}

#right{
	float: right;
	padding-left: 15px;
	padding-bottom: 5px;
}

p{
	text-align: left;
	line-height: 1.6em;
}
.text{
	margin-left: 15em;
}
.gap{
	margin-left: 3em;
}
ol li{
	padding-bottom: 1em;
	line-height: 1.6em;
}
.lower-alpha{
	list-style-type: lower-alpha;
}
ul li{
	padding-bottom: 1em;
}
.textRight{
	float: right;
	font-weight: bold;
}
#bookList{
	margin: 30px 0px 0px 38px;
    padding: 20px 25px 40px 25px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    min-height: 200px;
    font-size: 16px;
}
.covers{
	width:100%;
	text-align:center;
}
.covers a {
	display:inline-block;
	padding:2em 2em;
	height:210px;
}
.covers img {
	height:240px;
}
.covers p {
	padding-top: 0.5em;
	text-align:center;
	font-size:1.2em;
}
.box-shadow-outset {
	display: inline-block;
}
.box-shadow-outset img{
	border: 7px solid white;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.3);
}
.box-shadow-outset img:hover, .box-shadow-outset img:focus, .box-shadow-outset img:active {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.6);
}

#snippet{
	margin: 30px 0px 0px 72px;
    padding: 20px 30px 40px 40px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    min-height: 200px;
    font-size: 16px;
}
.right{
	float: right;
	margin-right: 3em;
}

.kannada{
	font-family: 'Gubbi';
	font-size: 1.2em;
}
.kannada h3{
	font-size: 1.5em;
}
.kannada #snippet h3{
	font-size: 1.25em;
	color: #950C0C;
}
.english #snippet{
	font-size: 17.5px;
}
.english #snippet h3{
	font-size: 1.5em;
	color: #950C0C;
}
.english{
	font-family: 'GentiumPlus-R';
	font-size: 1.25em;
}

.HabbaTitle{
	text-align: center;
	padding-bottom: 5px;
    border-bottom: 1px solid #DEDEDE; 
	margin-bottom: 1em;
	font-size: 1.8em;
	color: #cc6600;
}
.subhead{
	margin: 2em 0em 0 0em;
	text-align: center;
	font-size: 1.5em;
	color: #cc6600;
}
.text{
	margin-left: 15em;
	font-size: 0.9em;
}
.shloka{
	margin-left: 2em;
	color: #262626;
	font-weight: bold;
}
/*
.gap{
	float: right;
	padding-right: 30em;
	font-size: 0.9em;
}
*/
.textRight{
	font-size: 0.85em;
	float: right;
	font-weight: bold;
}
.bigfont{
	font-size: 2em
}
/*
ol{
     padding:0;
  counter-reset:item;
}
ol>li {
  margin:0;
  padding:0 0 0.7em 2em;
  text-indent:-1.6em;
  list-style-type:none;
  counter-increment:item;
}
ol>li:before {
  display:inline-block;	
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
*/

.small-gap{
	float: right;
	padding-right: 40em;
}
.smalltext{
	font-size: 0.9em;
}

.result{
	font-size: 1.1em;
	margin: 10px 0;
    padding: 20px 25px 25px 25px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    
}
.resTitle{
	color: #cc6600;
}
.result{
	color: #333;
	font-size: 16px;
}
.kanFont{
	font-family: 'Gubbi';
}
.engFont{
	font-family: 'GentiumPlus-R';
}
.result a{
	color: #3372df;
	font-size: 17px;
}
.result a:hover{
	border-bottom: 1px dotted #3372df;
}
#resImg{
	float: right;
	margin-right: 3em;
}
#resImg img{
	height:140px;
}
#eachResult{
	margin: -5em 0em 1em 0em;
}
.searchWord{
	color: #DC1D2D;
}
.noResults{
	color: red;
	font-size: 1.5em;
	margin-left: 1em;
}
#kannada{
	margin-top: -10em;
	width: 290px;
	float: right;
	font-family: 'Gubbi';
}
.keys{
	width: 38px;
	height: 27px;
	float: left;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 0px;
	text-align: center;
	cursor:pointer;
}
.tline {
	border-top: 1px solid #333;
}
.lline {
	border-left: 1px solid #333;
}
.keys:HOVER{
	background-color: #333;
	color: #fff;
}
#kan{
	color: #333;
}
#word{
	margin: 2em 0em 2em 2em;
	padding: 10px 0px 10px 5px;
	font-size: 1em;
	height: 3em;
	border-radius: 5px;
}
.submit{
	margin-left: 4em;
}
#button_search{
	margin-right: 25px;
}
#kbd{
	width: 290px;
	float: left;
	margin: 2.3em 0em 0em 2em;
}
.softkeyHead{
	font-size: 1.1em;
	font-family: 'GentiumPlus-R';
}
.more a{
	font-size: 0.9em;
	float: right;
}
#getFixed{
	color: #c00;
	margin-top: 1em;
	font: bold 10px arial;
	float: right;
}
.fixed{
	position: fixed;
	top: 0;
	right: 6px;
}
#goTop{
	display: none;
	position: absolute;
	top: 600px;
}
.kannada h3 .pageNum{
	font-size: 0.8em;
}
.english h3 .pageNum{
	margin-top: 5px;
	font-size: 0.65em;
}
.pageNum{
	color: red;
	float: left;
	margin-left: -2em;
	font-weight: normal;
}

.left{
	margin-left: -4em;
}
